@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Shrikhand&display=swap');

body {
    cursor: url('../../imagens/heart_15675399.png'), auto;
    background-color: #f8d4e2 !important;
}

.titulo {
    font-family: 'Shrikhand', sans-serif;
    background-color: #ba94c5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.tituloh1 {
    text-align: center;
    font-family: 'Shrikhand', sans-serif;
    color: #daa520;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding-top: 90px;
}

.container-fluid {
    background-color: #b494c5;
}

.nav-pills {
    background-color: #b494c5;
    font-family: 'Rufina', sans-serif;

    .nav-link.active {
        background-color: #aad4f4 !important;
    }

    .nav-link {
        color: white !important;
    }
}

.apresentacao {
    background-color: #fdeb9c;
    border-radius: 10px;
    margin: 0px 200px 0px 200px;
    padding: 20px 100px 20px 100px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 20px;
}

.listaPessoal {
    list-style-image: url('../../imagens/heart_15675399.png');
}

.pintar {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }

    ul {
        padding-left: 80px;
        list-style-image: url('../../imagens/heart_15675399.png');
    }
}

.pintar:hover {
    height: 450px;
}

.viajar {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }

    ol {
        padding-left: 80px;
    }
}

.viajar:hover {
    height: 700px;
}

.musicas {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }

    ul {
        list-style-image: url('../../imagens/heart_15675399.png');
        padding-left: 80px;
    }
}

.musicas:hover {
    height: 500px;
}

.fotos {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }

    ol {
        padding-left: 80px;
    }
}

.fotos:hover {
    height: 500px;
}

.ambientes {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }

    ul {
        list-style-image: url('../../imagens/heart_15675399.png');
        padding-left: 80px;
    }
}

.ambientes:hover {
    height: 650px;
}

.locky {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }
}

.locky:hover {
    height: 1100px;
}

.Livros {
    background-color: #aad4f4;
    display: block;
    border-radius: 10px;
    margin: 60px 150px;
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;

    h4 {
        font-family: 'Shrikhand', sans-serif;
        color: black;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    p {
        padding: 10px 40px 10px 40px;
    }

    ol {
        padding-left: 80px;
    }
}

.Livros:hover {
    height: 600px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8d4e2;
    font-size: 16px;
}
