@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    cursor: url('../../imagens/heart_15675399.png'), auto;
}

.titulo {
    font-family: 'Shrikhand', sans-serif;
    background-color: #ba94c5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.container-fluid {
    background-color: #b494c5;
}

.nav-pills {
    background-color: #b494c5;
    font-family: 'Rufina', sans-serif;

    .nav-link.active {
        background-color: #aad4f4 !important;
    }

    .nav-link {
        color: white !important;
    }
}

.tituloh1 {
    font-family: 'Shrikhand', sans-serif;
    color: #daa520;
    background-color: #f8d4e2;
    padding: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.texto {
    background-color: #f8d4e2;
    padding: 30px 300px 300px 300px;
}


p {
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 25px;
    color: black;
}

.moldura {
    background-color: #aad4f4;
    padding: 40px;
    border-radius: 10px;
}

.rabisco-sobreposta {
    position: absolute;
    top: 110%;
    left: 85%;
    transform: translate(-50%);
    z-index: 10;
}

.rabisco-sobreposta2 {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%);
    transform: rotate(-180deg);
    z-index: 10;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8d4e2;
    font-size: 16px;
}